<html>
  <head>
    <title>Medi</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,latin-ext" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="static/default.css">
    <script src="static/login.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
      
    <div class="materialContainer">
        <div class="box">
                <div class="title">Retrieval Success!</div>
                
                <h3 style="margin-bottom: 0px;">Please verify that all your details<br>are correct</h3>

                <h2 class="dividertext" style="margin-top: 30px;margin-bottom: 0px;">Personal Info</h2>

                <div class="input" style="padding: 10px 0px 10px 0px;">
                    <span class="text" style="font-size: 18px;margin-bottom: 5px;">Citizenship</span>
                    <p class="moneytext">Singapore Citizen</p>
                </div>

                <div class="input" style="padding: 10px 0px 10px 0px;margin-bottom: 30px;">
                    <span class="text" style="font-size: 18px;margin-bottom: 5px;">Birthday</span>
                    <p class="moneytext">01/03/1959 (Aged: 61)</p>
                </div>

               <h2 style="margin-bottom:10px;">Financial Info</h2>

                <div class="input" style="padding: 10px 0px 10px 0px;">
                    <span class="text" style="font-size: 18px;margin-bottom: 5px;">Monthly Income ($)</span>
                    <p class="moneytext">1800</p>
                </div>

                <div class="input" style="padding: 10px 0px 10px 0px;">
                    <span class="text" style="font-size: 18px;margin-bottom: 5px;">Medisave Balance ($)</span>
                    <p class="moneytext">1000</p>
                </div>

                <div class="input" style="padding: 10px 0px 10px 0px;">
                    <span class="text" style="font-size: 18px;margin-bottom: 5px;">DBS Current Account balance ($)</span>
                    <p class="moneytext">1200</p>
                </div>

                <h2 class="dividertext" style="margin-top: 30px;margin-bottom: 10px;">Medical Bills and Medication</h2>

                <div class="input" style="padding: 10px 0px 10px 0px;">
                    <span class="text" style="font-size: 18px;margin-bottom: 5px;">One-off Cost ($)</span>
                    <p class="moneytext">8400</p>
                </div>

                <div class="input" style="padding: 10px 0px 10px 0px;">
                    <span class="text" style="font-size: 18px;margin-bottom: 5px;">Monthly Recurrent Cost ($)</span>
                    <p class="moneytext">500</p>
                </div>

                <div class="input" style="padding: 10px 0px 10px 0px;">
                    <span class="text" style="font-size: 18px;margin-bottom: 5px;">Type of care: </span>
                    <span style="background-color: rgba(0,128,0,0.4);padding:10px;border-radius: 4px;margin-left: 5px;">Acute Hospitalisation</span>
                </div>

                <div style="padding: 10px 0px 10px 0px;">
                    <span class="text" style="font-size: 18px;margin-bottom: 5px;">Medicine Prescribed</span>
                    <p class="moneytext">
                    Acetazolamide (Diamox) - twice a day<br> 
                    Isosorbide dinitrate (Isordil) - once a day<br>
                    Aspirin - twice a day<br>
                    Apixaban (Eliquis) - once a week<br>
                    </p>
                </div>
                
                <h2 class="dividertext" style="margin-top: 30px;margin-bottom: 10px;">Budget targets</h2>

                <div class="input" style="padding: 10px 0px 10px 0px;margin-bottom: 30px;">
                    <span class="text" style="font-size: 18px;margin-bottom: 5px;">Monthly budget for medical bills ($)</span>
                    <p class="moneytext">300</p>
                </div>

                <div class="title" style="font-size: 16px;margin-bottom: 20px;">Medi will now look through the available financial help schemes and recommend the ones which best suits your needs.</div>

                <p>For a full list of help schemes, click <a class="normallink" href="https://www.moh.gov.sg/cost-financing/healthcare-schemes-subsidies">here</a></p>
                
                <div class="button login">
                    <a href="/loading2/dashboard_intro"><button><span>Find best scheme</span> <i class="fa fa-check"></i></button></a>
                </div>
                
            </form>
        </div>
        </div>
     
  </body>
</html>