<html>
  <head>
    <title>Medie Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,latin-ext" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="static/login.css">
    <script src="static/login.js"></script>
  </head>
  <body>
      
    <div class="materialContainer">
        <div class="box" style="margin-top: 250px">
            <form action="/login" method="POST">
                <div class="title">hi lumisepic69420</div>
                
                <div class="title">fill ur details pls</div>

                <div class="input">
                    <label for="name">name</label>
                    <input type="text" name="name" id="name">
                    <span class="spin"></span>
                </div>

                <div class="input">
                    <label for="bill1">once off medical bill</label>
                    <input type="number" name="bill1" id="bill1">
                    <span class="spin"></span>
                </div>

                <div class="input">
                    <label for="bill2">recurring medical bill / month</label>
                    <input type="number" name="bill2" id="bill2">
                    <span class="spin"></span>
                </div>
                
                <div class="input">
                    <!--<label for="bill">bill pics plz</label>-->
                    <span class="text">bill scan</span>
                    <input type="file" accept="image/*" capture="camera" name="bill" id="bill">
                    <span class="spin"></span>
                </div>
                
                <div class="input">
                    <!--<label for="bill">bill pics plz</label>-->
                    <span class="text">type of care</span><br>
                    <select id="care" name="care" class="text" style="margin-top: 10px">
                        <option value="pri">primary care</option>
                        <option value="acute">acute hospitalisation</option>
                        <option value="long">long term medical care</option>
                    </select>
                    <span class="spin"></span>
                </div>

                <div class="input">
                    <label for="medicine">medicine & usage</label>
                    <input type="textarea" name="medicine" id="medicine">
                    <span class="spin"></span>
                </div>

                <div class="button login">
                    <button type="submit"><span>GO</span> <i class="fa fa-check"></i></button>
                </div>
                </div>
            </form>
        </div>
     </div>
  </body>
</html>