<html>
  <head>
    <title>Medi</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,latin-ext" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="static/default.css">
    <script src="static/login.js"></script>
  </head>
  <body>
      
    <div class="materialContainer">
        <div class="box">
            
                <div class="title" style="margin-bottom: 25px;">Retrieve MyInfo<br>and Bank Details</div>
                
                <h3 class="dividertext">Please authorise Medi to retrieve data from MyInfo using SingPass</h3>
                <span>Data we will collect:
                    <ul>
                        <li>Medisave balance</li>
                        <li>Birthday</li>
                        <li>Citizenship</li>
                        <li>Monthly household income</li>
                    </ul>
                </span>

                <div class="input singpassstyle">
                    <input type="checkbox" id="Singpass" name="Singpass">
                    <label class="whatever" for="Singpass" style="user-select:none;">Login with <img style="width: 4em;margin-bottom: -5px;" src="/static/singpass.png"></label>
                    <span class="spin"></span>
                </div>

                <h3 class="dividertext">Please also authorise Medi to get your bank account balance with DBS</h3>
                <p>Data we will collect: Bank balance</p>


                <div class="input dbsstyle">
                    <input type="checkbox" id="DBS" name="DBS">
                    <label class="whatever" for="DBS" style="user-select:none;">Connect to <img style="width: 4em;margin-bottom: -5px;" src="/static/dbs_logo.png"></label>
                    <span class="spin"></span>
                </div>


                <div class="button login">
                    <a href="/loading/datasummary"><button><span>Retrieve data</span> <i class="fa fa-check"></i></button></a>
                </div>
                
            </form>
        </div>
        </div>
     
  </body>
</html>